h2{
    font-size: 28px;
}

article{
    background-color: #3E3F43;
    padding: 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.keyword{
    color: #2FED00;
}

.assunto-data{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 12px;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 28px;
}

main{
    max-width: 1040px;
}

.projects{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-card img{
    max-width: 100%;
}

.title{
    font-size: 40px;
    text-align: center;
}