main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bgroup{
    margin-top: 32px;
}
.contato{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 40px;
}
.img-container{
    min-width: 360px;
    margin-right: 24px;
}
.highlight{
    color: #2FED00;
}
.sobre svg {
    width: 32px;
    fill: #C9C9C9;
    margin-right: 8px;
}
.sobre svg:hover{
    fill: #fff;
}
.email, .icongroup{
    display: flex;
    justify-content: start;
    align-items: center;
}